<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_address %><br>
   <%= f.collection_select :room_address,Room.all,  :address ,:address%>
  </div>
  <div class="field">
    <%= f.label :lodger_name %><br>   
    <%= f.collection_select :lodger_name,Lodger.all,  :name, :name %>
  </div>
  <div class="field">
    <%= f.label :lease_start %><br>
    <%= f.date_select :lease_start %>
  </div>
  <div class="field">
    <%= f.label :lease_end %><br>
    <%= f.date_select :lease_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
