



<table class = "table table-bordered">
   <caption>Landlord Details</caption>
   
   <thead>
      <tr>
         <th style="text-align:center"> <strong>Name</strong>  </th>
         <th style="text-align:center"> <strong>Email</strong> </th>
         <th style="text-align:center"> <strong>Phone</strong> </th>
		
      </tr>
   </thead>
   
   <tbody>
      <tr>
         <td> <%= @landlord.name %> </td>
         <td><%= @landlord.email %></td>
         <td> <%= @landlord.phone %></td>
		
		 
      </tr>
      

   </tbody>
	
</table>

<%= link_to 'Edit', edit_landlord_path(@landlord) %> |
<%= link_to 'Back', landlords_path %>
